---
//
// Devhub Website
// Layouts
// Main Layout used by every page.
//

import "../styles/globals.css";
import "@fontsource-variable/raleway";
import "@fontsource-variable/open-sans";
import Navigation from "@/components/nav/Navigation";
import Footer from "@/components/nav/Footer.astro";

const {
  title = "Devhub",
  description = "Devhub Website",
  image = new URL("assets/banner.png", Astro.site),
  ...props
} = Astro.props;
---

<html lang="en" class="m-0">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph tags -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
  </head>
  <body class="font-sans dark bg-[--background] text-[--foreground]">
    <Navigation client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
